html {
    height: 100%;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    background-color: white;
}

.container {
    margin: 0 auto;
    max-width: 75em;
}

.content {
    padding: .5em 1.5em;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.loud {
    font-size: 130%;
}

a {
    text-decoration: none;
    color: black;
}

p a:link, p a {
    color: rebeccapurple;
}

p a:hover, a:active {
    color: darkgoldenrod;
}

input[type="button"], input[type="submit"], button {
    padding: .5em;
    background-color: goldenrod;
    border: 2px solid #252835;
    box-shadow: 2px 3px 2px #252835;
    color: black;
    font-size: 85%;
    position: relative;
    top: -2px;
    min-width: 5em;
    cursor: pointer;
}

input[type="button"]:active, input[type="submit"]:active, button:active {
    background-color: darkgoldenrod;
    box-shadow: 1px 1px 2px #252835;
    top: 2px;
}

label {
    padding: .5em;
}

input[type="text"] {
    padding: .6em;
    border: 2px solid grey;
    font-size: 85%
}

nav ul a:link, nav ul a:visited {
    color: white;
}

nav {
    background-color: #252835;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #252835;
}

nav ul li {
    display: block;
    position: relative;
    text-align: center;
    min-width: 25%;
    text-align: center;
}

nav ul li a {
    display: block;
    padding: 1em .5em;
    text-decoration: none;
    white-space: nowrap;
}

nav ul li a:hover {
    background-color: grey;
}

nav ul li ul {
    display: none;
    width: 100%;
}

nav ul li:hover > ul {
    display: block;
    position: absolute;
}

nav li:hover li a:hover {
    background-color: grey;
}

nav ul ul ul {
    left: 100%;
    top: 0;
}

nav li.current-page a {
    color: darkgoldenrod;
}

main {
    margin: 0 0 2em 0;
}

main h1:nth-child(1) {
    margin-bottom: 1.5em;
}

footer {
    border-top: 2px solid grey;
    padding: 1.4em;
}

.gold {
    color: darkgoldenrod !important;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-title {
    font-size: 140%;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.site-title img{
    margin-right: .5em;
    width: 3em;
    height: auto;
}

.product-card {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    border: 2px solid grey;
    padding: 1em 0;
}

.product-card > div {
    padding: 0 1.5em;
}

.product-card > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

.product-card img {
    width: auto;
    height: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product-card .price {
    color: darkgoldenrod;
    font-size: 150%;
    text-align: right;
}

.product-detail {
    display: flex;
    justify-content: space-around;
}

.product-detail > div:nth-child(2) {
    padding-left: 3em;
}

.product-image {
    width: 100%;
    height: auto;
    border: 2px solid grey;
}

.description {
    line-height: 1.5em;
    text-indent: 3em;
    margin: .5;
}

.cart-controls {
    margin: 0;
    text-align: right;
}

.cart-controls > div {
    margin: 2em 2em;
}

#cart-table, #cart-table > table {
    width: 100%;
}

#cart-table th {
    border-bottom: 2px solid grey;
    margin: 0 0;
    font-weight: normal;
}

#cart-table-footer td {
    border-top: 2px solid grey;
    padding: 2em 0;
}

table td div {
    padding: 2em 0;
}

#bottom-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}

.form-group label {
    float: left;
    width: 7em;
    margin-right: .5em;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-group input {
    box-sizing: border-box;
    width: 20em;
    margin-bottom: 2em;
}

.form button {
    margin-left: 10em;
}

.form-wrapper {
    display: flex;
    justify-content: center;
}

/* PCMR mode for UHD 4k screens */
@media (min-width:1921px) {
    body {
        font-size: 130%;
    }
}


@media (max-width:900px) {

    input[type="button"], input[type="submit"], button {
        font-size: 85%;
    }

    .product-card > div:nth-child(2) {
        width: 50%;
    }
}


@media (max-width:600px) {
    body {
        font-size: 90%;
    }

    .site-title > div:nth-child(2) {
        display: none;
    }

    .product-card {
        flex-direction: column;
        align-items: center;
    }

    .product-card > div {
        text-align: center;
    }
    

    .product-card > div:nth-child(2) {
        width: 100%;
    }

    .product-card .price {
        text-align: unset;
    }

    .product-detail {
        flex-direction: column;
        align-items: center;
    }

    .product-detail > div {
        width: 100%;
    }
    
    .product-detail > div:nth-child(2) {
        margin: 2em;
    }

    .product-image {
        display: block;
    }

    .product-detail > div:nth-child(2) {
        padding-left: 0;
    }
}

@media (max-width:410px) {
    .form-group label {
        text-align: left;
    }

    .form button {
        margin: 0;
    }
}